.myPostsBlock{
    background-color: rgba(237, 238, 240, 1);
    -ms-flex: 0 0 70%;
    flex: 0 0 65%;
    max-width: 100%;
}

.editBlock{
    border-radius: 8px;
    background-color: white;
}

.posts{
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 100%;
    order: 999;
    margin-left: auto;
}

.postButton{
    text-align: right;
    margin-right: 8px;
    padding-bottom: 5px;
}

.postButton_set{
    background-color: royalblue;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px 15px 10px 15px;
}

.postButton_set:hover{
    background-color: rgba(102, 144, 193, 1);
    cursor: pointer;
} 

h3{
    margin: 0;
    padding: 5px 10px 15px 8px;
}

.textarea_set{
    width: 97%;
    resize: none;
    margin: 0 8px 0 8px;
}
