  .header{
    grid-area: h;
    background:white;
  }
  .header img{
    width: 50px;
    height: 35px;
    padding-top: 5px;
    padding-left: 11.5%;
  }
  .loginBlock{
    float: right;
    margin: 10px 10px 10px 10px;
  }