.nav{
  grid-area: n;
  background-color:rgba(237, 238, 240, 1);
  margin-left: 150px;
  margin-top: 10px;
  margin-right: 10px;
}

.nav .item a{
  color: black;
  text-decoration: none;
  padding-left: 10px;
}

.item a.active{
  color: black;
}

.navButton{
  display: inline-block;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  text-align: left;
  line-height: 30px;
  border-radius: 5px;
}

.navButton:hover{
background-color: rgba(229, 231, 235, 1);
}

