img{
    max-width: 100%;
    width: 96%;
}

.fullName{
    margin: 5px 0 0 8px;
}

.info_block_set {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px rgba(231, 232, 236, 1);
  margin-right: 1rem;
}

.avatar_set{
  margin: 0 0 0 5px;
}