.item{
  color: black;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 8px;
  border-color: rgba(231, 232, 236, 1);
  border-width: 1px;
  padding: 10px;
}

.item img{
  width: 50px;
  height:50px;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
}