.app-wrapper{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
  "h h "
  "n c ";
  margin: 0 auto;
  width: 100%;
  background-color: rgba(237, 238, 240, 1);
overflow:  hidden;
  min-height: 100vh;
}

.app-wrapper-content{
  background-color: rgba(237, 238, 240, 1);
  margin-top: 10px;

}