.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: white;
    border-radius: 8px;
}

.dialogsItems{
    padding: 10px;
}

.dialogsItems .active{
    color: gold;
}


.messages{
    padding: 10px;
}

.messages .message{
color: gold;
}

.set_button{
    background-color: royalblue;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px 15px 10px 15px;
}
.set_button:hover{
    background-color: rgba(102, 144, 193, 1);
    cursor: pointer;
}